# IPEX
--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/mtl/us/
--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/mtl/cn/
mkl-dpcpp==2024.2.1

# IPEX-LLM
--pre
onednn-devel==2024.1.1
