# IPEX
--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/xpu/cn/
--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/xpu/us/
mkl-dpcpp==2024.2.1
torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1

# Intel dependencies depend on numpy 1
numpy==1.26.4
